<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" #form>
    <fieldset>
        <legend>Dados do projeto</legend>
        <div>
            <label>Descrição: </label>
            <input formControlName="descricao" required/>
        </div>
        <div>
            <label>Data de início: </label>
            <input formControlName="data_inicio" type="date" required/>
        </div>
        <div>
            <label>Data de fim: </label>
            <input formControlName="data_fim" type="date"/>
        </div>
        <div>
            <label>Orçamento: </label>
            <input formControlName="orcamento" type="number" min="0" required/>
        </div>
    </fieldset>

    <fieldset>
        <legend>Dados do cliente</legend>
        <div formGroupName="cliente">
            <div>
                <label>CPF: </label>
                <input formControlName="cpf" maxlength="11" />
            </div>     
            <div>
                <label>Nome: </label>
                <input formControlName="nome" />
            </div>     
            <div>
                <label>Endereço: </label>
                <input formControlName="endereco" />
            </div>

            <div formArrayName="telefones">        
                <div *ngFor="let telefone of telefones.controls; let i=index" [formGroupName]="i">
                    <label>Telefone {{i}}: </label>
                    <input type="tel" formControlName="numero" />
                    <button type="button" (click)="removeTel(i)">&times;</button>
                </div>
                <button type="button" (click)="adicionaTel()">+</button>
            </div>

            <div>
                <label>Observações: </label>
                <input formControlName="observacoes" />
            </div>
        </div>
        <fieldset>
            <legend>
                Dados dos dependentes
            </legend>
            <!-- Deixando o div logo abaixo do formGroup="cliente", o erro some. 
            <div formArrayName="dependentes">

            </div> -->
            <div formGroupName="cliente">
                <div formArrayName="dependentes">
                    <div *ngFor="let dependente of dependentes.controls; let i=index" [formGroupName]="i">               
                        
                        
                        <div>
                            <label>CPF: </label>
                            <input formControlName="cpf_dependente" />                  
                        </div>
                                    
                        <div>
                            <label>Nome: </label>
                            <input formControlName="nome_dependente" />
                        </div>
                                    
                        <div>
                            <label>Idade: </label>
                            <input formControlName="idade_dependente" type="number" min="0"/>
                        </div>
                                    
                        <div>
                            <label>Tipo de relacionamento: </label>
                            <input formControlName="tipo_relacionamento" />
                        </div>
                                    
                        <div>
                            <label>Relacionamento: </label>
                            <input formControlName="relacionamento" />
                        </div>                                     
                        
                        <button type="button" (click)="removeDependente(i)">&times;</button>

                    </div>
                </div>
            </div>              
            <button type="button" (click)="addDependente()">+</button>
        </fieldset>   
    </fieldset>
    <div>
        <button type="submit" >Submit</button>
        <button type="button" (click)="onReset()">Reset</button>
    </div>
    
</form>